  
                   <h1>
                   chedya l 3sal 
                   </h1>
  
                             <table border="2">
                               <tr>
                                       <th >Nom </th>
                                  
                                        <th >Prenom</th>
                                        <th >Mail</th>
                    
                                    </tr>
                             
                             
                                {% for i in Candidats  %}
                                <tr>
                                            <td>{{i.nomCand}}</td>
                                            <td>{{i.prenomCand}}</td>
                                            <td>{{i.mail}}</td>
                                 
                                            </tr>
                                            {% endfor %}
                                            </table> 